/* 	MAIN CSS 	*/ 

.header {
	background-color: rgb(21, 20, 16); 
} 

#productCarousel {
	padding: 5rem;
}

.header_text, .carousel-item h5 { 
	color: rgb(215, 215, 215); 
} 

.carousel-item {
	transition-duration: 0.5s; 
}

/* media queries for header text and list items */ 

@media (max-width: 685px) {
	.header_text>h5, .carousel-item h5 { 
		font-size: 1em; 
	}
} 

@media (max-width: 1016px) {
	.nav-item a, .nav-item button {
		font-size: 0.7em; 
	} 
} 