<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Whistlin'CootersFireworks</title>
		<meta name="viewport" 
			  content="width=device-width, initial-scale=1.0" 
		/>
		<link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css" /> 
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
		<link rel="stylesheet" href="/css/main.css" /> 
		<link rel="stylesheet" href="/css/index.css" />
		<link rel="stylesheet" href="/css/carousel.css" /> 
		<link rel="stylesheet" href="/css/bgimgs.css" /> 
		<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
		<link rel="manifest" href="/images/site.webmanifest">
	</head> 
	
	<body class="bg-dark">
		<header class="header row">
			<div class="col-sm-4">
				<a href="#">
					<img class="header_logo" type="image/png" src="/images/android-chrome-192x192.png"
						 alt="WHISTLIN'COOTERS LOGO" 
					/>
				</a>
			</div>
			<div class="col-sm-4 d-flex flex-column mt-auto header_text">
				<h5 class="text-center">ORDER HERE, PICK UP AT <i>PHFWLLC ADDRESS</i></h5> 
			</div> 
			<nav class="col-sm-4 navbar navbar-expand-md navbar-dark">
				<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
						data-target="#navOptions" aria-controls="navOptions" aria-expanded="false" 
						aria-label="Toggle navigation" 
				>
					<span class="navbar-toggler-icon text-light"></span>
				</button>
				<div class="collapse navbar-collapse" id="navOptions">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link text-white" href="#about">About</a>
							<a class="nav-link text-white" href="#contact">Contact</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link text-white" href="#categories">Categories</a>
							<a class="nav-link dropdown-toggle text-white" role="button" data-toggle="dropdown" 
							   aria-expanded="false" 
							>
								Inventory
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">View Full Inventory</a> 
								<div class="dropdown-divider"></div> 
								<a class="dropdown-item" href="#">Artillery Shells</a> 
								<a class="dropdown-item" href="#">Aerial Repeaters</a> 
								<a class="dropdown-item" href="#">Firecrackers</a> 
								<a class="dropdown-item" href="#">Roman Candles</a> 
								<a class="dropdown-item" href="#">Fountains</a>
								<a class="dropdown-item" href="#">Sparklers</a>
								<a class="dropdown-item" href="#">ETC</a>
								<a class="dropdown-item" href="#">ETC</a>
							</div>
						</li> 
						<li class="nav-item">
							<button class="btn text-white">Sign-in</button>
						</li> 
						<li class="nav-item signupBtn">
							<button id="signupBtn" class="btn text-white">Sign-up</button>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<div class="container-lg bg-dark px-0">
			<h2 class="text-center text-light pt-3" style="text-decoration:underline;"><i>Featured Merch</i></h2>
			<div id="productCarousel" class="carousel slide bg-dark" data-ride="carousel"
				 data-interval="10000"
			>
				<ol class="carousel-indicators">
					<li data-target="#productCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#productCarousel" data-slide-to="1"></li>
					<li data-target="#productCarousel" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="row">
							<div class="col-12 col-sm-6 d-flex flex-column w-50 align-items-center">
								<img class="img-fluid" src="/images/quadzilla.jpg" alt="Quadzilla 7 inch" />
								<p>$59.99 (tax not included)</p>
								<button class="btn btn-primary mb-2 ml-5"><b>ORDER NOW!</b></button>
							</div>
							<div class="col-12 col-sm-6 d-flex flex-column w-50 align-items-center justify-content-between">
								<div class="embed-responsive embed-responsive-16by9 vidclass">
									<video class="embed-responsive-item" controls autoplay
										   muted
									>
										<source src="/video/BWQuadzillaCANISTERS.mp4" type="video/mp4" />
									</video>
								</div>
								<h3 style="color:rgb(48, 240, 40);">QuadZilla 7"</h3>
								<h5 class="slideInFromLeft">Multi-Breaks!</h5>
								<h5 class="slideInFromLeft">3 big breaks below!</h5>
								<h5 class="slideInFromLeft">1 Bigger break up top!</h5>
								<button class="btn btn-info mb-1 demo">See Demo</button>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="row">
							<div class="col-12 col-sm-6 d-flex flex-column w-50 align-items-center">
								<img class="img-fluid" src="/images/gotammo.jpg" alt="GOT AMMO 6 inch" />
								<p>$59.99 (tax not included)</p>
								<button class="btn btn-primary mb-2 ml-5"><b>ORDER NOW!</b></button>
							</div>
							<div class="col-12 col-sm-6 d-flex flex-column w-50 align-items-center justify-content-between">
								<div class="embed-responsive embed-responsive-16by9 vidclass">
									<video class="embed-responsive-item" controls autoplay
										   muted
									>
										<source src="/video/GOTAMMO_Miracle.mp4" type="video/mp4" /> 
									</video>
								</div>
								<h3 style="color:rgb(157, 52, 21);">Got Ammo?</h3>
								<h5 class="slideInFromLeft">Assorted Variety of Effects!</h5>
								<h5 class="slideInFromLeft">Ground mine effects, double layer display!</h5>
								<h5 class="slideInFromLeft">Bigger break up top!</h5>
								<button class="btn btn-info mb-1 demo">See Demo</button>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="row">
							<div class="col-12 col-sm-6 d-flex flex-column w-50 align-items-center">
								<img class="img-fluid" src="/images/bigenough.jpg" alt="BIG ENOUGH" />
								<p>$59.99 (tax not included)</p>
								<button class="btn btn-primary mb-2 ml-5"><b>ORDER NOW!</b></button>
							</div>
							<div class="col-12 col-sm-6 d-flex flex-column w-50 align-items-center justify-content-between">
								<div class="embed-responsive embed-responsive-16by9 vidclass">
									<video class="embed-responsive-item" controls autoplay
										   muted
									>
										<source src="/video/BIGENOUGHPROFESSIONAL6SHELLMEGABANGERRLMB588.mp4" type="video/mp4" /> 
									</video>
								</div>
								<h3 style="color:rgb(214, 224, 0);">Big Enough</h3>
								<h5 class="slideInFromLeft">Assorted Variety of Effects!</h5>
								<h5 class="slideInFromLeft">12 60g canisters, unique effect per canister!</h5>
								<h5 class="slideInFromLeft">Multi-colored effects on break!</h5>
								<button class="btn btn-info mb-1 demo">See Demo</button>
							</div>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#productCarousel" role="button"
			   	   data-slide="prev"
				> 
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span> 
				</a> 
				<a class="carousel-control-next" href="#productCarousel" role="button"
		   	       data-slide="next"
				>
					<span class="sr-only">Next</span>
					<span class="carousel-control-next-icon" aria-hidden="true"></span> 
				</a>
			</div>
		</div>
		<div id="categories" class="container-lg cat-container">
			<h2 class="text-light">Categories</h2>
			<div class="row cat-row text-center p-2">
				<div class="col-lg-3 col-md-4 col-sm-6 cat-col p-2">
					<div class="border border-dark rounded p-2">
						<a href="#">
							<img  class="img-fluid" src="/images/gotammo.jpg" alt="GOT AMMO?" />
							<p class="text-dark"><b>Artillery Shells</b></p>
							<p class="text-dark">
								Looking for 5/6/7 inch artillery, 5 to 60 gram canisters, multi break shells, some of which having assorted effects? 
								We got what you need! We have reloadable artillery shell kits made by the most reliable and popular brands!
							</p>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 cat-col p-2">
					<div class="border border-dark rounded p-2">
						<a href="#">
							<img  class="img-fluid" src="/images/aerial-repeater.jpg" alt="Aerial Repeater" />
							<p class="text-dark"><b>Aerial Repeaters</b></p>
							<p class="text-dark">
								Check out our huge online selection of 200 gram fireworks cakes.  
								We've  got what you need; from hot new items to your classic favorites!  
								They're great show starters or for smaller spaces.
							</p>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 cat-col p-2">
					<div class="border border-dark rounded p-2">
						<a href="#">
							<img  class="img-fluid" src="/images/firecrackers.jpg" alt="GOT AMMO?" />
							<p class="text-dark"><b>Firecrackers</b></p>
							<p class="text-dark">
								Blackcats, m-80s, and more! We got what you need! Paceholder text Paceholder text Paceholder text Paceholder text!
								Paceholder text Paceholder text Paceholder text Paceholder text Paceholder text!!!
							</p>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 cat-col p-2">
					<div class="border border-dark rounded p-2">
						<a href="#">
							<img  class="img-fluid" src="/images/Roman-Candle-5-Balls.jpg" alt="Aerial Repeater" />
							<p class="text-dark"><b>Roman Candles</b></p>
							<p class="text-dark">
								Roman Candles Roman Candles Roman Candles Roman Candles Roman Candles Roman Candles Roman Candles Roman Candles!!!
								Roman Candles Roman Candles Roman Candles Roman Candles Roman Candles Roman Candles Roman Candles Roman Candles!!!
							</p>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 cat-col p-2">
					<div class="border border-dark rounded p-2">
						<a href="#">
							<img  class="img-fluid" src="/images/fountainfw.PNG" alt="GOT AMMO?" />
							<p class="text-dark"><b>Fountains</b></p>
							<p class="text-dark">
								Fountains are a great small space item to be used as a low lever filler for your fireworks show. 
								We have a large variety of with unique effects. 
							</p>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 cat-col p-2">
					<div class="border border-dark rounded p-2">
						<a href="#">
							<img  class="img-fluid" src="/images/sparklers.jpg" alt="Aerial Repeater" />
							<p class="text-dark"><b>Sparklers</b></p>
							<p class="text-dark">
								We sell sparker bundles that are perfect for house parties and wedding favors. 
								Check out our large variety of sparklers. 
							</p>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 cat-col p-2">
					<div class="border border-dark rounded p-2">
						<a href="#">
							<img  class="img-fluid" src="/images/gotammo.jpg" alt="GOT AMMO?" />
							<p class="text-dark"><b>Artillery Shells</b></p>
							<p class="text-dark">
								Looking for 5/6/7 inch artillery, 50 to 60 gram canisters, multi break shells, some of which having assorted effects? 
								We got what you need! We have reloadable artillery shell kits made by the most reliable and popular brands!
							</p>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 cat-col p-2">
					<div class="border border-dark rounded p-2">
						<a href="#">
							<img  class="img-fluid" src="/images/aerial-repeater.jpg" alt="Aerial Repeater" />
							<p class="text-dark"><b>Aerial Repeaters</b></p>
							<p class="text-dark">
								Check out our huge online selection of 200 gram fireworks cakes.  
								We've  got what you need; from hot new items to your classic favorites!  
								They're great show starters or for smaller spaces.
							</p>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="parallax bgimg1"></div>
		<div id="about" class="container-fluid about">
			<div class="row">
				<div class="col-12">
					<h2 class="text-light text-center">About</h2>
				</div>
				<div class="col-12 d-flex justify-content-center align-items-center">
					<img class="img-fluid" src="/images/android-chrome-512x512.png" />
				</div>
			</div>
			<div class="row">
				<div class="col-6 col-sm-2 order-2 order-sm-1 d-flex">
					<img class="d-block ml-auto" src="/images/brands1.PNG" />
				</div>
				<div class="col-12 col-sm-8 order-1 order-sm-2">
					<h5 class="text-light text-center">
						Here at Whistlin’ Cooters, we specialize in bringing a touch of magic to your special events with our spectacular fireworks displays. 
						Whether you’re planning an outdoor festivity, an indoor spectacle, or a bespoke show, our expert team is on hand to help bring your vision to life.
						<br /><br />
						We provide a wide range of pyrotechnic products and services tailored to your requirements, from sky-high aerial effects to ground-based displays, 
						and from indoor illuminations to grand outdoor spectacles. 					
						<br /><br />
						Our skilled technicians are always up-to-speed with the latest industry methods and safety regulations, ensuring your display is flawlessly executed.
						At Whistlin’ Cooters, we’re driven by our passion for crafting unforgettable memories. 
						<br /><br />
						Our dedication to quality, safety, and customer satisfaction distinguishes us in the fireworks industry. 
						Don’t settle for just any fireworks display. Choose Whistlin’ Cooters for a remarkable experience that will leave a lasting impression on you and your guests.
					</h5>
				</div>
				<div class="col-6 col-sm-2 order-3 order-sm-3 d-flex">
					<img class="d-block mr-auto" src="/images/brands2.PNG" />
				</div>
			</div>
		</div>
		<div class="container-fluid bgimg2-container">
			<div class="container">
				<div class="parallax bgimg2"></div>
			</div>
		</div>
		<div id="contact" class="container-fluid contact">
			<div class="row contact-row d-flex jusitify-content-between p-3">
				<div class="col-4 contact-col d-flex flex-column align-items-start text-light">
					<div class="d-flex flex-column border border-rounded pt-1 pl-1 slideOutLeft">
						<h2 class="underline">MEDIA</h2>
						<div class="d-flex flex-row">
							<a href="#" class="fab fa-facebook-f" style="color: #3b5998;"></a>
							<a href="#" class="fab fa-instagram" style="color: #C13584;"></a>
							<a href="#" class="fab fa-twitter" style="color: #1DA1F2;"></a>
						</div>
					</div>
				</div>
				<div class="col-4 contact-col d-flex justify-content-center align-items-center text-light">
					<div class="d-flex img">
						<img class="img-fluid" type="image/png" src="/images/android-chrome-192x192.png"
							 alt="WHISTLIN'COOTERS LOGO" 
						/>
					</div>
				</div>
				<div class="col-4 contact-col d-flex justify-content-end align-items-end text-light">
					<div class="d-flex flex-column border border-rounded pr-2 pb-1 pt-3 pl-3 slideOutRight">
						<h5>Email Address</h5>
						<h5>Phone Number</h5>
						<h5>Address</h5>
						<h2 class="underline">CONTACT</h2>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer row bg-dark d-flex justify-content-around align-items-center">
			<p id="cr" class="text-light">
				&copy;
			</p>
			<p class="text-light">
				Site operated by Curt Sandford
				<br />
				Built and maintained by Scott Miller
			</p>
		</footer>
		<!-- The Modal -->
		<div class="modal" id="adModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="container-lg">
						<div class="row">
      						<div class="col-6 cpadding">
								<img class="img-fluid" src="/images/modalAd.jpg" />	  
							</div>
							<div class="col-6 d-flex flex-column cbg">
        						<div class="modal-header">
          							<button type="button" class="close text-danger" data-dismiss="modal">&times;</button>
        						</div>
        						<!-- Modal body -->
        						<div class="modal-body text-light">
          							Sign up for a free account today and 
          							<b class="text-danger"><i>SAVE 15%</i></b> 
          							off your first purchase at or above $100
        						</div>
        						<!-- Modal footer -->
        						<div class="modal-footer d-block mt-auto">
          							<button type="button" class="btn btn-success d-block ml-auto" data-dismiss="modal">Sign-up!</button>
        						</div>
        					</div>
        				</div>
        			</div>
      			</div>
    		</div>
		</div>
		<div class="modal" id="signupModal">
			<div class="modal-dialogue">
				<div class="modal-content bg-dark">
					<div class="container-lg bg-dark text-light">
						<form action="/signup" method="post" class="row border">
							<button type="button" class="close text-danger ml-auto mr-3" data-dismiss="modal">&times;</button>
							<div class="col-sm-12 d-flex justify-content-around p-3">
								<h1>Sign-Up</h1>
								<img class="img-fluid" src="/images/android-chrome-192x192.png" alt="WCLOGO" />
							</div>
							<fieldset class="col-sm-6">
								<legend>Name</legend>
								<div class="form-group">
									<label for="fname">
										First Name:
										<span style="color:red;">*</span>
									</label>
									<input id="fname" class="form-control" name="fname"
										   type="text" required
									/>
									<label for="lname">
										Last Name:
										<span style="color:red;">*</span>
									</label>
									<input id="lname" class="form-control" name="lname"
										   type="text" required
									/>
								</div>
							</fieldset>
							<fieldset class="col-sm-6">
								<legend>Login Data</legend>
								<div class="form-group">
									<label for="email">
										Email Address:
										<span style="color:red;">*</span>
									</label>
									<input id="email" class="form-control" name="email"
										   type="email" required
									/>
									<label for="username">
										Username:
										<span style="color:red;">*</span>
									</label>
									<input id="username" class="form-control" name="username"
										   type="text" placeholder="Input desired username"
										    required
									/>
									<label for="password">
										Password:
										<span style="color:red;">*</span>
									</label>
									<input id="password" class="form-control" name="password"
										   type="password" placeholder="Input desired password"
										    required
									/>
								</div>
							</fieldset>
							<fieldset class="col-sm-12">
								<div class="form-group">
									<button type="submit" class="btn btn-block btn-success">Sign-Up!</button>
								</div>
								<h5>OR</h5>
							</fieldset>
							<fieldset class="col-sm-12">
								<div class="form-group">
									<button type="button" class="btn btn-block btn-danger">
										<i class="fab fa-google fa-fw"></i>
										Sign up with Google
									</button>
									<button type="button" class="btn btn-primary btn-block">
										<i class="fab fa-facebook fa-fw"></i>
										Sign up with Facebook
									</button>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
		<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
		<script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
		<script src="/js/main.js"></script> 
		<script src="/js/carousel.js"></script>
		<script src="/js/carouselanimated.js"></script> 
		<script src="/js/bgimgs.js"></script> 
		<script src="/js/contact.js"></script>
	</body>
</html> 