<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" /> 
		<meta name="viewport" 
			  content="width=deivce-width, initial-scale=1.0" 
		/> 
		<meta name="_csrf" th:content="${_csrf.token}" />
		<meta name="_csrf_header" th:content="${_csrf.headerName}" />
		<title>Email Verification</title> 
		<link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css" /> 
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="stylesheet" href="/css/emailviews.css" /> 
		<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png" />
		<link rel="manifest" href="/images/site.webmanifest" />
	</head> 
	
	<body>
		<div class="container">
			<div class="modal" id="signupModal">
			<div class="modal-dialogue">
				<div class="modal-content bg-dark">
					<div class="container-lg bg-dark text-light">
						<form id="signupForm" action="/reset-password" method="patch" 
							  class="row border"
						>
							<div class="col-sm-12 d-flex justify-content-around p-3">
								<h1>Reset Password</h1>
								<img class="img-fluid" src="/images/android-chrome-192x192.png" alt="WCLOGO" />
							</div>
							<div class="col-sm-6">
								<p class="mt-3">
									<b>Password Requirements:</b><br />
									<i class="requirementIndicator">*</i> Minimum of 1 lowercase character<br />
									<i class="requirementIndicator">*</i> Minimum of 1 uppercase character<br />
									<i class="requirementIndicator">*</i> Minimum of 8 characters total<br />
									<i class="requirementIndicator">*</i> Minimum of 1 numeric character<br />
									<i class="requirementIndicator">*</i> Minimum of 1 special character<br />
									<i class="requirementIndicator">*</i> No spaces allowed<br />
								</p>
							</div>
							<fieldset class="col-sm-6">
								<div class="form-group">
									<label for="signup-password">
										Password:
										<i style="color:red;">*</i>
									</label>
									<input id="signup-password" class="form-control" name="password"
										   type="password" placeholder="Input desired password"
										   required
									/>
									<label for="signup-confirm_password">
										Confirm Password:
										<i style="color:red;">*</i>
									</label>
									<input id="signup-confirm_password" class="form-control" name="confirm_password" 
										   type="password" placeholder="Confirm desired password" 
										   required 
									/> 
									<input id="username" type="hidden" th:value="${username}" />
									<div id="passwordStrengthIndicator-container" class="border mt-3">
										<div id="passwordStrengthIndicator" class="bg-danger"></div>
									</div>
									<p id="psiText"></p>
								</div>
							</fieldset>
							<fieldset class="col-sm-12">
								<div class="form-group">
									<button id="signupBtn" type="submit" class="btn btn-block btn-success">Reset Password</button>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
		</div>
		<div id="redirectModal" class="modal fade" tabindex="-1"
			 role="dialog" aria-labelledby="redirectModalLabel"
			 aria-hidden="true"
		>
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 id="redirectModalLabel" class="modal-title"></h5>
						<button type="button" class="close" data-dismiss="modal"
								aria-label="Close"
						>
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>
                        	Click <a href="#">here</a> to <i id="bodyText1"></i>. 
                            <br /> 
                            Redirecting to <i id="bodyText2"></i> modal in 
                            <b id="s" style="color:red;"></b> 
                        </p> 
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
					</div>
				</div>
			</div>
		</div>
		<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
		<script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/passwordreset.js"></script>
		<script type="text/javascript">
			
			$(document).ready(function() {
				
				$("#signupModal").modal("show"); 
				
			}); 
			
		</script>
	</body>
</html>